*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }
/* NAVBAR */
nav.navbar{
    width: 100vw;
    background-color: rgb(0,0,0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
nav.navbar a{
    text-decoration: none;
    color: white;
    display: block;
    width: 80px;
    text-align: center;

}
/* HEADER */
header{
    position: relative;
    top: 50px;
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0) 10%,
    rgba(255,255,255, 1)
  ),url(../img/background.jpg);
    background-size: cover;
    background-position: 45% 100%;
}
p, h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
    font-weight: bold;
}
p{
    font-size: 14px;
}
header h1{
    position: absolute;
    width: 80vw;
    text-align: center;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    letter-spacing: 0.1em;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 80vw }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

header h2{
    position: absolute;
    width: 70vw;
    text-align: center;
    top: 120px;
    left: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7);
    color: white;
    animation: comein; 
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes comein {
    0% { left: -50%; }
    100% { left: 50% }
  }
@media (orientation: landscape) {
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
}
@media (orientation: portrait) and (min-width: 410px){
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
    header h1{
        top: 90px;
    }
    header h2{
        top: 140px;
    }
}
@media (orientation: portrait) and (min-width: 768px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 16px;
    }
    header h1{
        top: 120px;
    }
    header h2{
        top: 170px;
    }
}
@media (orientation: landscape) and (min-width: 1024px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 16px;
    }
    header h1{
        top: 100px;
    }
    header h2{
        top: 160px;
    }
}
/* MAIN */

/* about me */
section.aboutMe{
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
}
section.aboutMe p{
    text-align: center;
    margin: 0 20px;
    font-weight: bold;
}
section.aboutMe h2{
    text-align: center;
    margin: 30px auto;
    text-transform: uppercase;
}
div.hobby{
    width: 85%;
    margin: 0 auto 20px;
}
div.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
}
#mySkills{
    grid-column-end: span 2;
    margin: 30px auto;
    display: flex;
}
div.skills p{
    margin: 15px;
    text-transform: uppercase;
}

/* portfolio */
section.portfolio{
    padding-top: 70px;
    height: 1400px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(89,138,149,1) 100%);
    text-align: center;

}
section.portfolio h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
section.portfolio div{
    width: 85%;
    margin: 0 auto 20px;
}

section.portfolio div a{
    display: inline-block;
    margin: 20px 0;
}
section.portfolio div a img{
    width: 80%;
    border-radius: 20px;
    transition: 1s;
}
section.portfolio div a img:hover{
    transform: scale(1.05);
}

@media(orientation: landscape) and (min-width: 640px){
    section.portfolio{
        height: 1550px;
    }
}
@media(orientation: portrait) and (min-width: 410px){
    section.portfolio{
        height: 1120px;
    }
}
@media(orientation: landscape) and (min-width: 731px){
    section.portfolio{
        height: 1350px;
    }
}
@media(orientation: landscape) and (min-width: 823px){
    section.portfolio{
        height: 1500px;
    }
}
@media (orientation: portrait) and (min-width: 768px){
    section.portfolio{
        height: 1550px;
    }
}
@media(orientation: landscape) and (min-width: 823px){
    section.portfolio{
        height: 1850px;
    }
}
