*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }
  p, h1, h2, h3, span{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
    font-weight: bold;
}
p{
    font-size: 14px;
}
span{
    font-size: 14px;
}
@media (orientation: portrait) and (min-width: 410px){
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}
@media (orientation: portrait) and (min-width: 768px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 16px;
    }
}
@media (orientation: landscape) and (min-width: 1024px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 16px;
    }
}
/* NAVBAR */
nav.navbar{
    width: 100vw;
    background-color: rgb(0,0,0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
nav.navbar a{
    text-decoration: none;
    color: white;
    display: block;
    width: 80px;
    line-height: 30px;
    text-align: center;
}
a.border{
    border-right: 1px solid white;
}
@media (orientation: landscape) and (min-width: 730px) {
    nav.navbar{
        height: 60px;
    }
    nav.navbar a{
        width: 120px;
    }
}
@media (orientation: portrait) and (min-width: 768px){
    nav.navbar{
        height: 60px;
    }
    nav.navbar a{
        width: 120px;
    }
}
@media (orientation: landscape) and (min-width: 1024px) {
    nav.navbar{
        height: 60px;
    }
    nav.navbar a{
        width: 150px;
    }
}
@media (orientation: portrait) and (min-width: 1024px){
    nav.navbar{
        height: 70px;
    }
    nav.navbar a{
        width: 150px;
        line-height: 40px;
    }
}
@media (orientation: landscape) and (min-width: 1366px) {
    nav.navbar{
        height: 80px;
    }
    nav.navbar a{
        width: 200px;
        line-height: 60px;
    }
}
@media (orientation: landscape) and (min-width: 1600px) {
    nav.navbar{
        height: 80px;
    }
    nav.navbar a{
        width: 250px;
        line-height: 60px;
    }
}
/* HEADER */
header{
   
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0) 10%,
    rgba(255,255,255, 1)
  ),url(../img/background.jpg);
    background-size: cover;
    background-position: 45% 100%;
}

header h1{
    position: absolute;
    width: 85vw;
    text-align: center;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    letter-spacing: 0.1em;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 85vw }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
header h2{
    position: absolute;
    width: 70vw;
    text-align: center;
    top: 120px;
    left: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.7);
    color: white;
    animation: comein; 
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes comein {
    0% { left: -50%; }
    100% { left: 50% }
  }
@media (orientation: landscape) {
    header{
        background-position: 45% 50%;
    }
    header h1{
        width: 45vw;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 45vw }
      }
    header h2{
        width: 35vw;
    }
}
@media (orientation: portrait) and (min-width: 410px){
    header h1{
        top: 90px;
    }
    header h2{
        top: 140px;
    }
}
@media (orientation: landscape) and (min-width: 730px){
    header h1{
        width: 40vw;
        top: 90px;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 40vw }
      }
    header h2{
        width: 30vw;
        top: 130px;
    }
}
@media (orientation: portrait) and (min-width: 768px){
    header h1{
        top: 120px;
        width: 60vw;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 60vw }
      }
    header h2{
        top: 180px;
        width: 50vw;
    }
}
@media (orientation: landscape) and (min-width: 1024px){
    header h1{
        top: 100px;
        width: 50vw;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 50vw }
      }
    header h2{
        top: 160px;
        width: 40vw;
    }
}
@media (orientation: portrait) and (min-width: 1024px){
    header h1{
        top: 150px;
        width: 50vw;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 50vw }
      }
    header h2{
        top: 220px;
        width: 40vw;
    }
}
@media (orientation: landscape) and (min-width: 1366px) {
    header h1{
        top: 130px;
        width: 37vw;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 37vw }
      }
    header h2{
        top: 200px;
        width: 30vw;
    }
}
@media (orientation: landscape) and (min-width: 1600px) {
    header h1{
        top: 230px;
        width: 500px;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 500px }
      }
    header h2{
        top: 330px;
        width: 350px;
    }
}
/* MAIN */
/* about me */
section.aboutMe{
    width: 90vw;
    margin: 0 auto;
    padding-top: 70px;
    max-width: 1200px;
}
section.aboutMe p{
    text-align: center;
}
section.aboutMe h2{
    text-align: center;
    margin: 30px auto;
    text-transform: uppercase;
}
div.hobby {
    display: flex;
    flex-direction: column;
    height: 1400px;
    margin-bottom: 20px;
}
div.hobby>div.hobbyDescription{
    margin: 0 auto 20px auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
}
div.hobby h3{
    text-align: center;
    width: 100%;
    margin: 10px 0 10px 0;
}
div.hobby > div.hobbyDescription > div.hobbyImage{
    width: 80%;
    background-size: cover;
    border-radius: 20px;
    height: 200px;
}
div.hobby div.millingImage{
    background-image: url("../img/milling.jpg");   
}
div.hobby div.bowlingImage{
    background-image: url("../img/bowling.jpg");
}
div.hobby div.gamesImage{
    background-image: url("../img/games.jpg");
}
div.hobby p{
    display: flex;
    align-items: center
}
div.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
#mySkills{
    grid-column-end: span 2;
    margin: 30px auto;
}
div.skills p{
    margin: 15px;
    text-transform: uppercase;
}
@media (orientation: landscape) {
    div.hobby{
        height: 1000px;
    }
    div.hobby h3{
        margin: 30px 0 30px 0;
    }
    div.hobby > div.hobbyDescription{
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    div.hobby>div.hobbyDescription>div.hobbyImage{
        width: 250px;
    }
    div.hobby p{
        width: 250px;
    }
}
@media (orientation: landscape) and (min-width: 730px) {
    div.hobby>div.hobbyDescription>div.hobbyImage{
        width: 300px;
    }
    div.hobby p{
        width: 300px;
    }
}
@media (orientation: landscape) and (min-width: 1024px){
    section.aboutMe{
        width: 80vw;
    }
    div.hobby{
        height: 1500px;
    }
    div.hobby > div.hobbyDescription{
        height: 350px;
    }
    div.hobby>div.hobbyDescription>div.hobbyImage{
        width: 350px;
        height: 250px;
    }
    div.hobby p{
        width: 350px;
    }
}
@media (orientation: portrait) and (min-width: 768px){
    div.hobby{
        height: 1700px;
    }
    div.hobby>div.hobbyDescription{
        height: 500px;
    }
    div.hobby>div.hobbyDescription>div.hobbyImage{
        height: 300px;
    }
}
@media (orientation: portrait) and (min-width: 1024px){
    div.hobby{
        height: 1900px;
    }
    div.hobby>div.hobbyDescription{
        height: 600px;
    }
    div.hobby>div.hobbyDescription>div.hobbyImage{
        height: 400px;
    }
}
@media (orientation: landscape) and (min-width: 1366px) {
    section.aboutMe{
        width: 80vw;
    }
    div.hobby > div.hobbyDescription{
        height: 350px;
    }
    div.hobby>div.hobbyDescription>div.hobbyImage{
        width: 500px;
        height: 300px;
    }
    div.hobby p{
        width: 400px;
    }
}
@media (orientation: landscape) and (min-width: 1600px) {
    section.aboutMe{
        width: 60vw;
    }
    div.hobby > div.hobbyDescription{
        height: 350px;
    }
    div.hobby>div.hobbyDescription>div.hobbyImage{
        width: 500px;
        height: 300px;
    }
    div.hobby p{
        width: 400px;
    }
} 

/* portfolio */
section.portfolio{
    padding-top: 90px;
    height: 1550px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(89,138,149,1) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;;
}
section.portfolio h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
section.portfolio h3{
    text-align: center;
    width: 100%;
    margin: 10px 0 10px 0;
}
section.portfolio> div.projectDescription{
    margin: 0 auto 20px auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    max-width: 1200px;
}
section.portfolio> div.projectDescription> div.projectImage{
    width: 80%;
    background-size: cover;
    border-radius: 20px;
    height: 200px;
}
section.portfolio div.shoppingPageImage{
    background-image: url("../img/shoppingPage.jpg");   
}
section.portfolio div.musicPageImage{
    background-image: url("../img/artist.jpg");   
}
section.portfolio div.photographerPageImage{
    background-image: url("../img/photographer.jpg");   
}
section.portfolio p{
    text-align: center;
    margin: 15px;
}
section.portfolio a{
    text-decoration: none;
    color: black;
}

@media (orientation: landscape) {
    section.portfolio{
        height: 1100px;
    }
    section.portfolio div.projectDescription{
        height: 250px;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    section.portfolio > div.projectDescription > div.projectImage{
        width: 250px;
    }
    section.portfolio p{
        width: 250px;
    }
}
@media (orientation: landscape) and (min-width: 731px){
    section.portfolio > div.projectDescription > div.projectImage{
        width: 300px;
    }
    section.portfolio p{
        width: 300px;
    }
}
@media (orientation: landscape) and (min-width: 1024px){
    section.portfolio{
        height: 1400px;
    }
    section.portfolio div.projectDescription{
        width: 80vw;
        height: 350px;
    }
    section.portfolio > div.projectDescription > div.projectImage{
        width: 350px;
        height: 250px;
    }
    section.portfolio p{
        width: 350px;
    }  
}
@media (orientation: portrait) and (min-width: 768px){
    section.portfolio{
        height: 1700px;
    }
    section.portfolio div.projectDescription{
        width: 90vw;
        height: 450px;
    }
    section.portfolio div.projectDescription div.projectImage{
        height: 300px
    }
}
@media (orientation: portrait) and (min-width: 1024px){
    section.portfolio{
        height: 1900px;
    }
    section.portfolio div.projectDescription{
        height: 500px;
    }
    section.portfolio div.projectDescription div.projectImage{
        height: 400px;
    }
}
@media (orientation: landscape) and (min-width: 1366px) {
   section.portfolio div.projectDescription{
       width: 80vw;
   }
   section.portfolio div.projectDescription div.projectImage{
       width: 500px;
       height: 300px;
   }
   section.portfolio p{
       width: 400px;
   }
}
@media (orientation: landscape) and (min-width: 1600px) {
    section.portfolio div.projectDescription{
        width: 60vw;
    }
}
/* KONTAKT */
section.contact {
    background-color: #000;
    padding: 90px 20px 30px 20px;
  }
  
  .contact h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    text-align: center;
  }
  
  .contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .contact input,
  .contact button,
  .contact textarea {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin-bottom: 25px;
    padding: 5px;
  }
  
  .contact input {
    height: 36px;
  }
  
  .contact textarea {
    height: 120px
  }
  
  .contact button {
    line-height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
  }
  .contact .socials {
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    color: white;
    justify-content: space-around;
    padding-top: 30px;
    font-size: 0;
  }
  
  .contact .social img {
    float: left;
    width: 50px;
  }
  
  .contact .social span {
    line-height: 50px;
    padding-left: 20px;
    float: left;
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  @media (min-width: 720px) {
    .contact div.socials{
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    }
    
}
  /* FOOTER */
  footer {
    background-color:rgba(89,138,149,1);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }